name: PR - Build Only

on:
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      # Checkout
      - name: Checkout Repository
        uses: actions/checkout@v4


      # Setup Java
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      #Give permission to mvnw
      - name: Make mvnw executable
        run: chmod +x websockettask/mvnw

      # Build only (skip tests)
      - name: Build Project
        working-directory: websockettask
        run: ./mvnw clean package -DskipTests
