name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker-build-push:

    runs-on: ubuntu-latest

    steps:

      # Checkout code
      - name: Checkout Repository
        uses: actions/checkout@v4


      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}


      # Build Docker image (builds Java inside Dockerfile)
      - name: Build Docker Image
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USERNAME }}/websockettask:latest \
            .


      # Push image
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/websockettask:latest
